.App {
  text-align: center;
  font-family: "W95FA";
  background-color: #00807F;
  /* border-style: solid; */
  overflow: visible;
  /* position: fixed; */
  height: 99vh;
  margin-bottom: -100vh;
}

