.Desktop {
    display: flexbox;
    position: fixed;
    left: 30px;
    top: 40px;
}

.IconText {
    margin-top: 5px;
    margin-bottom: 50px;
    color: #ffffff;
}

.Icons {
    width: 50px;
}

.Clicked {
    background-color: #02017e;
}