.fullDiv {
    background-image: url("https://i.imgur.com/onRtIAm.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center center;
 background-size: 40% auto;
 background-color: black;
}